<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <context:component-scan base-package="sharma.srishti"/>

    <tx:annotation-driven/>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- Data Source -->
   <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/hotel-reservation" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>

    <!-- LocalSessionFactoryBean -->
    <bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" id="factory">

        <!-- data source -->
        <property name="dataSource" ref="ds"></property>

        <!-- hibernate properties -->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>

        <!-- annotated classes -->
        <property name="annotatedClasses">
            <list>
                <!-- Add annotated class entity here -->
                <value>sharma.srishti.model.state</value>
                <value>sharma.srishti.model.hotel</value>
                <value>sharma.srishti.model.hotel_information</value>
            </list>
        </property>

    </bean>

    <bean id="hotel_mgt" class="sharma.srishti.dao.hotel_mgt">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>

    <bean id="template" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="factory"></property>
        <property name="checkWriteOperations" value="false"></property>
    </bean>

    <!-- Hibernate Template -->
    <bean class="org.springframework.orm.hibernate5.HibernateTemplate" id="hibernateTemplate">
        <property name="sessionFactory" ref="factory"></property>
    </bean>

    <!-- for spring to auto handle the transactions -->
    <bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" id="transactionManager">
        <property name="sessionFactory" ref="factory"></property>
    </bean>


</beans>